{% extends 'base.html' %}

{% load static %}

{% block context %}

   <section class="pf-details section" style="padding-top: 25px;">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
							<div class="container">
								<img src="{% static 'img/faoilyat-bg.jpg' %}" alt="#" style="width: 100%; height: 30vw; object-fit: cover; object-position: center;">
							</div>
							<div class="body-text">
								<h3>Ilmiy tadqiqotlar, innovatsiyalar va ilmiy pedagogik kadrlar tayyorlash bo‘limi</h3>
								<h5>O‘zbekiston xalqaro islom akademiyasi</h5>
								<h5>Ilmiy-tadqiqotlar, innovatsiyalar va ilmiy-pedagogik kadrlar tayyorlash bo‘limi</h5>
								<p>O‘zbekiston xalqaro islom akademiyasi Oliy ta’limdan keyingi ta’lim tizimini boshqaruvchi tuzilma bo‘lib, O‘zbekiston Respublikasi qonunlariga va boshqa me’yoriy hujjatlarga, Akademiya Nizomi va mazkur nizomga muvofiq faoliyat olib boradi.</p>	
								<ol>
									<li>Oliy ta’limdan keyingi ta’lim jarayonida amaldagi normativ- huquqiy hujjatlar asosida tashkil etilishini ta’minlash.</li>
									<li>Oliy ta’limdan keyingi ta’lim bo‘yicha o‘quv jarayonini tashkil etadigan normativ - metodik ta’minotni takomillashtirish.</li>
									<li>Ilmiy-tadqiqotlar, innovatsiyalar va ilmiy-pedagogik kadrlar tayyorlash bo‘limini akademiyaning boshqa tuzilmalari bilan hamkorlik aloqalarini olib borish hamda rivojlantirish.</li>
									<li>Akademiya professor-o‘qituvchilari tomonidan ilmiy-tadqiqot ishlari natijasida monografiyalar, ilmiy  risolalar va boshqa adabiyotlarning nashr jarayonini belgilangan tartibda muvofiqlashtirish;</li>
									<li>Akademiyaning ilmiy faoliyati bilan bog‘liq hisobotlarni mutasaddi tashkilotlar bilan muvofiqlashtirish;</li>
									<li>Tayanch doktorantura (PhD), doktorantura (DSc) va mustaqil izlanuvchilik institutiga talabgorlar uchun qabul jarayonlarini belgilangan normativ-huquqiy hujjatlar asosida rasmiylashtirish; </li>
								</ol>
								<ul>
									<li>Tayanch doktorantura (PhD), doktorantura (DSc) va mustaqil izlanuvchilik institutiga kirish imtihonlarini belgilangan tartibda  tashkillashtirish;</li>
									<li>Tayanch doktorant, doktorant va mustaqil izlanuvchilarning yakka tartibdagi ish rejalari ijrosini  nazorat qilish;</li>
									<li>Mutaxassislik fanlaridan malakaviy imtihonlarni topshirayotgan tayanch doktorant (PhD), doktorant (DSc) va mustaqil izlanuvchilar uchun malakaviy imtihon hujjatlarini OAK bilan muvofiqlashtirish hamda tashkillashtirish;</li>
									<li>Ixtisoslik kafedralari bilan ilmiy maslahatchilar, tayanch doktorant, doktorant va mustaqil izlanuvchilarni attestatsiyadan o‘tkazishni tashkil qilish;</li>
									<li>Tayanch doktorant, doktorant, mustaqil izlanuvchilar va ularning ilmiy rahbar va maslahatchilar ishtirokida ilmiy seminarlar o‘tkazish;</li>
									<li>Tayanch doktorant, doktorant va mustaqil izlanuvchilarga ilmiy ishlarini amalga oshirishda tashkiliy va uslubiy yordam ko‘rsatish;</li>
									<li>Tayanch doktorant, doktorant va mustaqil izlanuvchilarning dissertatsiya mavzulari e’lonini Nizomga muvofiq amalga oshirish;</li>
									<li>Akademiya kafedralari tomonidan o‘tkaziladigan xalqaro va respublika ilmiy-amaliy konferensiyalar asosnomalari hamda hisobotlarini muassis tashkilotlar, Oliy ta’lim, fan va innovatsiyalar vazirligi bilan muvofiqlashtirish;</li>
									<li>Akademiya kafedralari tomonidan ishlab chiqilgan ilmiy-texnik loyihalarni Akademiya Ilmiy, o‘quv-uslubiy kengashidan o‘tkazishga oid  hujjatlarini  muvofiqlashtirish; </li>
									<li>Akademiya rektori hamda Ilmiy ishlar va innovatsiyalar bo‘yicha prorektorning topshiriqlarini o‘z vaqtida va sifatli bajarish; </li>
								</ul>	
									<p><strong>Bo‘lim boshlig‘i:</strong> Kalandarova Dono Usmandjanovna<br>
									<strong>Bo‘lim muhandisi:</strong> Saminova Nazokat Xalimjonovna<br>
									<strong>Manzil:</strong> Toshkent shahar, A.Qodiriy 11-uy<br>									
									<strong>Telefon:</strong> (+99871) 24- 00-56 </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- End Portfolio Details Area -->

{% endblock %}		