
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a href="?page={{ page_obj.previous_page_number }}" class="page-link"><< Orqaga</a>
        </li>
      {% endif %}
      
      <li class="page-item">
        <a href="#" class="page-link">
          Sahifa {{ page_obj.number }} // {{ page_obj.paginator.num_pages }}.
        </a>
      </li>
      <li class="page-item">
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="page-link">Oldinga >></a>
        {% endif %}
      </li>
    </ul>
  </nav>